# System files
.DS_Store

# Data & Environment
*.csv
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Databases
*.db
*.sqlite

package-lock.json
package.json